# V8 kaynakları ve build output
third_party/v8/.git/
third_party/v8/out.gn/
third_party/v8/depot_tools/
third_party/v8/.gclient*
third_party/v8/.gitignore
third_party/v8/.cipd
third_party/v8/vendor
third_party/v8/v8

build/
.vscode/

